<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <style>
        .error{
            color:red;
        }
        .logout{
            float: right;
        }
    </style>
</head>
<body>
    <div>
        <a href="/">Home</a>&nbsp;&nbsp;&nbsp;   
        <a href="/blog">All Entries</a>&nbsp;&nbsp;&nbsp;    
        <a href="/newpost">Add Blog Entry</a>&nbsp;&nbsp;&nbsp;  
        <a href="/signup">Signup</a>&nbsp;&nbsp;&nbsp;  
        <a href="/login">Login</a>&nbsp;&nbsp;&nbsp;  
        <a href="/logout" class='logout'>Logout</a>&nbsp;&nbsp;&nbsp;  
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}
</body>
</html>